@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    height: 250px;
    padding: 2rem 2rem;
    text-align: center;
    font-size: 15px;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

section {
    padding: 1rem;
}

img {
    width: 420px;
    height: 320px;
    border-radius: 15px;
}

img:hover {
    opacity: 0.7;
    border: 5px solid hotpink;
}

@media screen and (max-width:400px) {
    img {
        width: 100%;
    }
}